<div class=" d-flex mx-auto justify-content-center">
    <div class="card px-0 col-6">
        <div class="card-header">
            <h3>
                {{note.nombre}}
            </h3>
        </div>

        <div class="card-body  ">
            <div class="d-flex justify-content-between ">
                <h4 class="d-flex align-items-center ">
                    Edad:
                </h4>
                <h5 class=" d-flex align-items-center ">
                    {{note.edad}} años
                </h5>
            </div>
            <div class="d-flex justify-content-between">
                <h4 class="d-flex align-items-center ">
                    Estatura:
                </h4>
                <h5 class=" d-flex align-items-center ">
                    {{note.estatura}}m
                </h5>
            </div>
            <div class="d-flex justify-content-between ">
                <h4 class="d-flex align-items-center ">
                    Telefono:
                </h4>
                <h5 class=" d-flex align-items-center ">
                    {{note.telefono}}
                </h5>
            </div>
            <div class="d-flex justify-content-between ">
                <h4 class="d-flex align-items-center ">
                    tel. Emergencia:
                </h4>
                <h5 class=" d-flex align-items-center ">
                    {{note.telefono_emergencia}}
                </h5>
            </div>
            <div class="d-flex justify-content-between">
                <h4 class="d-flex align-items-center ">
                    Dia de Pago:
                </h4>
                <h5 class=" d-flex align-items-center ">
                    {{note.dia_pago}} de cada mes 
                </h5>
            </div>
        </div>
    </div>
</div>
